SHARED_UID=1000
SHARED_GID=1000
DOMAIN_PT=pt.example.ddns.net
DOMAIN_CQ=cq.example.ddns.net
DOMAIN_PL=pl.example.ddns.net
DOMAIN_TF=tf.example.ddns.net
CADDY_EMAIL=you@example.com
GIT_USER_NAME=shared-user
GIT_USER_EMAIL=you@example.com
